---
- hosts: all
  become: true
  tasks:
   
    - name: Install Nginx
      apt: name=nginx state=latest


      notify:
        - restart nginx

  handlers:
    - name: restart nginx
      service: name=nginx state=reloaded
